@use "../abstract/variables";

body {
    font-family: variables.$police-principale;
    font-size: 1rem;
    margin: 0;
    background-color: variables.$couleur-principale;
}

h1, h2, h3 {
    font-family: variables.$police-secondaire;
}

h1 {
    font-size: 5rem;
}
h2 {
    font-size: 3.25rem;
}
h2 {
    font-size: 1.625rem;
}

section:not(#banner) { 
    margin: 10%;
}

a {text-decoration: none;
    color: black;}
