@use "../abstract/variables";

@media screen and (max-width: 1023px) {
    
    h1 {
        font-size: 5rem;
    }
    h2 {
        font-size: 3.25rem;
    }
    h3 {
        font-size: 1.5rem;
    }

    //footer :

    .contact-container {
        flex-direction: column;
        align-items: center;
        gap: 5rem;
      }
    
      .form-conteneur {
        max-width: 90%;
         .form-contact {
            margin-top: 0;
         }
      }
    
      .ressources {
        flex-direction: column;

        .ressources-container {
            order: 2; // passe les ressources en deuxième positon
        }
      }
    
      .footer-bottom {
        flex-direction: column;
        gap: 2rem;
        
        p {
            order: 2; // le copyright passe en dessous
          }

        .reseaux a img {
          width: 20vw;
        }
    }
}

@media screen and (max-width: 768px) {
h1 { font-size: 3rem; }
h2 { font-size: 2rem; }
h3 { font-size: 1.5rem; }
p { font-size: 1.25rem; }
small { font-size: 1rem; }
}


@media screen and (max-width: 1023px) {
    footer {
        .form-details input {
            width: 100%;
            height: 10%;
        }

        .form-message {
            textarea {
            height: 60px;
            }
        }
    }
}

