@use "../abstract/variables";

@font-face {
    font-family: variables.$police-secondaire;
    src: url(../fonts/Nunito/static/Nunito-SemiBold.ttf);
}

@font-face {
    font-family: variables.$police-principale;
    src: url(../fonts/Open_Sans/static/OpenSans-Regular.ttf);
}

@font-face {
    font-family: variables.$police-principale;
    src: url(../fonts/Open_Sans/static/OpenSans-Regular.ttf);
}

