@use "base/typography";
@use "base/base";

@use "layout/header";
@use "layout/footer";

@use "components/cards";
@use "components/cta";
@use "components/menu-items";

@use "pages/homepage";
@use "base/responsive"; 

// Ordre dans style: BASE (base, fonts, utilies [class se répétant, ex: .container]) puis LAYOUT (partie du site qui se répète: header, footer) puis COMPONENTS (banner, btn, card) puis PAGES (homepage, etc..) puis RESPONSIVE
