@use "../abstract/variables";
@use "../base/base";


footer {
    background: linear-gradient(0deg,rgba(0, 191, 150, 0.45) 0%, rgba(255, 119, 112, 0.75) 70%);
    color: variables.$couleur-text;
    font-family: variables.$police-principale;
    position: relative;
}

.philosophie-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    text-align: center;

        img {
            width: 80%;
        }
}


// partie ohm sweet ohm du footer 
.contact-container {
    display: flex;
    max-width: 100%;
    margin: 0 auto;
}
// partie formulaire "contactez-nous"
.form-conteneur {
    width: 100%;
    max-width: 50%;
    display: flex;
    justify-content: center;
}
.form-contact {
    background: linear-gradient(0deg,rgba(0, 191, 150, 0.45) 0%, rgba(255, 119, 112, 0.75) 70%);
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    border: solid #333 1px;
    border-radius: 50px;
    box-shadow: 15px 17px 10px #333;
    margin-top: 15rem;
    box-sizing: border-box;

        .bouton {
            width: 50%;
            border-radius: 50px;
        }
}
.form-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1rem;
    width: 100%;
    max-width: 100%;
    
        h2 {
            text-align: left;
        }

            input {
                width: 40%;        
                height: 50px;         
                border-radius: 50px;  
                padding: 10px;     
                font-size: 18px;
                background-color: white;
                border: 3px solid #ccc;    
              }
        }

.form-message {
    width: 100%;
    max-width: 620px;
    display: flex;
    

    textarea {
        width: 620px;
        max-width: 90vw;
        height: 200px;
        max-height: 200px;        
        border-radius: 50px;       
        font-size: 20px;
        background-color: white;
        border: 3px solid #ccc;
        font-family: variables.$police-accent;
        padding: 1rem;
        
        &::placeholder {
        font-family: variables.$police-accent;
      }
    }
}

.separation {
    position: relative; // important pour que ::after reste dans ce contexte
    // background-color: red;

    &::after {
      content: "";
      display: block;
      width: 95vw;
      height: 3px;
      margin: 2rem auto;
      background-color: variables.$couleur-accent;
      top: 10rem;
    }
  }
  

// // partie ressources et lignes d'écoute du footer
.ressources {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    width: 100%;
    padding: 2rem 0;
    display: flex;
    gap: 2rem;
    text-align: center;

        ul {
            list-style: none;
        }
  
}

// //partie c et résaux sociaux footer-bottom
.footer-bottom {
    background-color: variables.$couleur-secondaire; // notre vert
    color: white; // pour que le texte ressorte blanc bien sûr..
    padding: 2rem 1rem;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10vw;
  
    .reseaux {
        a img {
          width: 3.5vw;
          height: 2em;
          cursor: pointer;
          transition: transform 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
        }
      
        a:hover img {
          transform: scale(1.3);
        }
      }
      
  }
  

