

#header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    .logo-top {
        width: 20%;
        img {width: 100%;}
    }
    ul {
        list-style: none;
        display: flex;
        gap: 3rem;
        li {width: 25%;}
    }
}