@font-face {
  font-family: "Nunito Semi-bold", sans-serif;
  src: url(../fonts/Nunito/static/Nunito-SemiBold.ttf);
}
@font-face {
  font-family: "Open Sans", sans-serif;
  src: url(../fonts/Open_Sans/static/OpenSans-Regular.ttf);
}
@font-face {
  font-family: "Dancing Script";
  src: url(../fonts/Open_Sans/static/OpenSans-Regular.ttf);
}
body {
  font-family: "Open Sans", sans-serif;
  font-size: 1.25rem;
  margin: 0;
  background-color: #FFECEB;
}

h1, h2, h3 {
  font-family: "Nunito Semi-bold", sans-serif;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 3.25rem;
}

h2 {
  font-size: 1.625rem;
}

a {
  text-decoration: none;
  color: black;
}

#header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: -4%;
}
#header .logo-top {
  width: 8%;
}
#header .logo-top img {
  width: 100%;
}
#header ul {
  list-style: none;
  display: flex;
  gap: 10rem;
  width: 70%;
}
#header ul li:after {
  content: "";
  height: 2px;
  color: #00BF96;
}

.bouton,
.bouton-secondaire {
  display: inline-block;
  padding: 0.75em 1.5em;
  font-family: "Nunito Semi-bold", sans-serif;
  font-size: 18px;
  font-weight: 600;
  border: none;
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.bouton,
.button {
  background-color: #00BF96;
  color: white;
}
.bouton:hover,
.button:hover {
  background-color: rgb(0, 140, 109.9476439791);
  transform: scale(1.03);
}

.bouton-secondaire {
  color: #FF7770;
  transition: color 0.3s ease;
}
.bouton-secondaire:hover {
  color: rgb(255, 70.4965034965, 61);
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.5rem;
  }
  p {
    font-size: 1.25rem;
  }
  small {
    font-size: 1rem;
  }
}
#banner {
  text-align: center;
  color: white;
  background-image: url(../img/background_image.png);
  background-size: cover;
  background-position: center;
  height: 90vh;
}
#banner h1 {
  padding-top: 10%;
}
#banner p {
  font-size: 44px;
  padding-top: 7%;
}

#carroussel .carroussel-container {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}
#carroussel .carroussel-container .carroussel-article {
  width: 25%;
  height: 40vh;
}
#carroussel .carroussel-container .carroussel-article img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
}

#conseils .articles-container {
  display: grid;
  justify-content: center;
  grid-template-rows: 50vh 50vh;
  grid-template-columns: 20vw 20vw 20vw;
  gap: 12rem;
}
#conseils .articles-container .article {
  background-color: white;
  padding: 2rem;
}
#conseils .articles-container .article .image-article {
  width: 100%;
}
#conseils .articles-container .article .image-article img {
  width: 100%;
}

#body-article {
  background-color: #FFECEB;
}
#body-article main {
  overflow: hidden;
}

#banner-decoration {
  position: relative;
  width: 100%;
  height: 20vh;
  margin: 0;
  overflow: hidden;
}
#banner-decoration .banner-img-container {
  position: absolute;
  bottom: -50%;
  left: -1%;
  rotate: 180deg;
  transform: rotateZ(-7.5deg);
  z-index: 1;
}
#banner-decoration .banner-img-container img {
  width: 100vw;
  rotate: 180deg;
  transform: rotateX(180deg);
  opacity: 70%;
}

.article-heading {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-self: center;
  width: 80%;
  height: 196px;
  background-color: white;
  border-top-left-radius: 150px;
  border-bottom-right-radius: 150px;
  border-bottom-left-radius: 15px;
  border-top-right-radius: 15px;
  z-index: -2;
}

#history {
  margin: 0;
  margin-top: 20%;
  padding: 0;
}
#history .history-heading {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-self: center;
  width: 75%;
  height: 231px;
  background-color: rgba(41, 142, 137, 0.7);
  border-top-left-radius: 150px;
  border-bottom-right-radius: 150px;
}
#history .history-heading .title-deco-container {
  position: absolute;
  width: 100%;
  height: 100%;
}
#history .history-heading .title-deco-container img {
  width: 100%;
  position: absolute;
  left: -11.1%;
  top: -54.1%;
  width: 32.5%;
  rotate: 134deg;
  opacity: 90%;
}
#history .history-heading .title-deco-container2 {
  position: absolute;
  width: 100%;
  height: 100%;
}
#history .history-heading .title-deco-container2 img {
  width: 100%;
  position: absolute;
  left: 78.6%;
  top: -34%;
  width: 32.5%;
  rotate: -45deg;
  opacity: 90%;
}

.history-content-container {
  display: flex;
  justify-self: center;
  width: 90%;
  height: 650px;
  background-color: #D9D9D9;
  border-radius: 500px;
  margin-top: 20%;
}
.history-content-container .history-img-container {
  display: flex;
  align-self: center;
  margin-left: 5%;
  width: 20%;
  height: 50%;
  background-color: #FFECEB;
  border-radius: 50%;
  background-image: url(../img/image-articles.png);
  background-size: cover;
  background-position: center;
  border: 3px solid white;
}
.history-content-container .history-content {
  align-content: center;
  justify-content: center;
  width: 50%;
  height: 100%;
  margin-left: 2.5%;
}
.history-content-container .history-content p {
  line-height: 35px;
  text-align: center;
}

.main-content-container {
  margin-top: 20%;
}
.main-content-container .box-content-half {
  width: 110%;
  height: 500px;
  background-color: white;
  rotate: -10deg;
}
.main-content-container .box-half-background {
  width: 100%;
  height: 100%;
  background-color: white;
  margin-top: -8%;
}

/*# sourceMappingURL=style.css.map */
