$couleur-principale: #FFECEB;
$couleur-secondaire: #00BF96;
$couleur-accent: #FF7770;
$couleur-text: #333;
$police-principale: "Open Sans", sans-serif;
$police-secondaire: "Nunito Semi-bold", sans-serif;
$police-accent:"Dancing Script", cursive;
