@use "../abstract/variables";

#banner {
    text-align: center;
    color: white;
    background-image: url(../img/background_image.png);
    background-size: cover ;
    background-position: center;
    height: 90vh;
    h1 {
        padding-top: 10%;
    }
    p {
        font-size: 44px;
        padding-top: 7%;
    }
}

#carroussel {
    .carroussel-container {
        display: flex;
        justify-content: space-between;
        gap: 2rem;
        .carroussel-article {
          width: 25%; 
          height: 40vh;
          img {width: 100%; height: 100%; border-radius: 15px;}
        }
    }
}

#conseils {
    .articles-container {
        display: grid;
        justify-content: center;
        grid-template-rows: 50vh 50vh;
        grid-template-columns: 20vw 20vw 20vw;
        gap: 12rem;
        .article {
            background-color: white;
            padding: 2rem;
            .image-article {
                width: 100%;
                img {width: 100%;}
            }
        }
    }
}