@use "../abstract/variables";

#banner {
    text-align: center;
    color: white;
    background-image: url(../img/background_image.png);
    background-size: cover ;
    background-position: center;
    height: 90vh;
    h1 {
        padding-top: 10%;
    }
    p {
        font-size: 44px;
        padding-top: 7%;
    }
}

#carroussel {
    .carroussel-container {
        display: flex;
        justify-content: space-between;
        gap: 2rem;
        .carroussel-article {
          width: 25%; 
          height: 40vh;
          img {width: 100%; height: 100%; border-radius: 15px;}
        }
    }
}

#conseils {
    .articles-container {
        display: grid;
        justify-content: center;
        grid-template-rows: 50vh 50vh;
        grid-template-columns: 23vw 23vw 23vw;
        gap: 12rem;
        .article {
            background-color: white;
            padding: 0.5rem;
            border-radius: 10px;
            overflow-x: hidden;
            text-align: center;
            a {
                padding: 0;
            }
            .image-article {
                width: 130%;
                margin: -0.5rem;
                img {width: 100%;                 border-bottom-left-radius: 0;}
            }
            h3 {
                color: variables.$couleur-secondaire;
            }
        }
    }
}

#exercices, .exercice, .exercice-text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    border-radius: 10px;
    h2 {
        align-self: start;
    }
    .exercice {
        background-image: url(../img/image-relax-1.png);
        background-repeat: no-repeat;
        background-size: cover;
        width: 90%;
        border: 5px solid variables.$couleur-accent;

        .exercice-text-container {
            border: 4px solid variables.$couleur-secondaire;
            background-color: rgba($color: #ffffff, $alpha: 0.4);
            width: 70%;
            margin-bottom: 5rem;
            border-radius: 30px;
            padding: 2rem;
        }
    }
}

.journal-container {
    background-color: rgba($color: #71a0f3, $alpha: 0.15);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    border: 4px solid variables.$couleur-accent;
    .input-container {
        display: flex;
    }
    .input {
        width: 50vw;
        height: 7vh;
        margin: 4rem 0;
        border-radius: 15px;
        padding-left: 15rem;
        box-sizing: border-box;
    }
    .vos-ecrits {
        background-image: url(../img/arabesque-1920x1080.png);
        width: 95%;
        margin-bottom: 1rem;
        padding-bottom: 10rem;
        border-radius: 15px;
        ul {
            list-style: none;
            font-family: variables.$police-accent;
            li {
                display: inline-block;
                padding: 1rem;
                border: 2px solid variables.$couleur-accent;
                border-radius: 15px;
                background-color: rgba($color: #ffffff, $alpha: 0.45);
                width: 80%;
                text-align: center;
                font-size: 1.5rem;
                margin-top: 2rem;
            }
        }
    }
}
